# * Data Exploration & Analysis was done:-
# * Rawdata Files:- measurement.CSV & station.CSV files for DataFrames.
# * Python & Pandas used to inspect and data cleaning of the two .CSV files.
# * Inspected the data for NaNs and missing values,cleaned / processed CSV  files & saved with the prefix 'pro'.

In [160]:
# #
# %matplotlib notebook
# from matplotlib import style
# style.use('fivethirtyeight')
# import matplotlib.pyplot as plt

In [161]:
# Import the Dependencies
import numpy as np
import pandas as pd
import os


# # Dependencies for python# Depen 
# import matplotlib.pyplot as plt
# import seaborn

In [162]:

# import datetime as dt

In [163]:
# # Dependencies for SQLAlchemy
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine
# from sqlalchemy import func

# Data Engineering / Cleaning of hawaii_measurements.csv

In [164]:
#R
# Read file hawaii_measurements.csv
measurements = "Resources/hawaii_measurements.csv"
measurements_df = pd.read_csv(measurements)
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [165]:
# In the prcp columns checking for the unique values to check for NAN we observe that there are Nan values.
measurements_df["prcp"].unique()

array([8.000e-02, 0.000e+00,       nan, 6.000e-02, 1.000e-02, 4.000e-02,
       1.200e-01, 3.000e-02, 2.000e-02, 4.300e-01, 1.700e-01, 1.500e-01,
       2.700e-01, 2.000e-01, 5.000e-02, 9.000e-02, 7.000e-02, 5.700e-01,
       3.100e-01, 2.300e-01, 1.580e+00, 7.700e-01, 1.400e+00, 1.300e-01,
       5.500e-01, 2.200e-01, 1.290e+00, 1.300e+00, 2.900e-01, 1.720e+00,
       8.200e-01, 1.000e-01, 8.800e-01, 4.000e-01, 1.110e+00, 3.600e-01,
       2.100e+00, 1.100e-01, 5.600e-01, 8.900e-01, 1.400e-01, 1.600e+00,
       5.800e-01, 2.800e-01, 7.000e-01, 1.800e-01, 1.030e+00, 3.700e-01,
       1.080e+00, 4.000e+00, 2.420e+00, 1.900e-01, 1.000e+00, 1.130e+00,
       8.000e-01, 3.200e-01, 3.000e-01, 2.500e-01, 3.500e-01, 7.400e-01,
       1.980e+00, 2.010e+00, 1.100e+00, 1.600e-01, 7.600e-01, 3.800e-01,
       5.000e-01, 4.800e-01, 6.400e-01, 4.500e-01, 6.600e-01, 1.090e+00,
       7.900e-01, 3.900e-01, 2.400e-01, 1.220e+00, 6.200e-01, 9.300e-01,
       8.600e-01, 4.600e-01, 6.500e-01, 2.600e-01, 4.100e-01, 4.200e-01,
       5.200e-01, 1.570e+00, 8.500e-01, 3.300e-01, 7.500e-01, 2.100e-01,
       5.400e-01, 1.250e+00, 4.200e+00, 1.320e+00, 5.100e-01, 2.620e+00,
       1.190e+00, 7.300e-01, 4.700e-01, 1.700e+00, 8.700e-01, 3.400e-01,
       4.400e-01, 4.900e-01, 1.950e+00, 3.180e+00, 4.940e+00, 2.950e+00,
       9.900e-01, 6.300e-01, 5.210e+00, 1.060e+00, 1.540e+00, 4.880e+00,
       3.300e+00, 1.050e+00, 1.160e+00, 1.330e+00, 6.800e-01, 1.760e+00,
       9.200e-01, 4.430e+00, 4.020e+00, 6.100e-01, 1.560e+00, 4.470e+00,
       1.550e+00, 5.710e+00, 2.330e+00, 2.410e+00, 5.900e-01, 4.600e+00,
       1.270e+00, 7.100e-01, 2.600e+00, 8.300e-01, 1.690e+00, 9.400e-01,
       9.500e-01, 1.900e+00, 3.030e+00, 1.310e+00, 1.590e+00, 8.100e-01,
       5.980e+00, 1.370e+00, 1.710e+00, 2.060e+00, 1.840e+00, 1.350e+00,
       1.240e+00, 7.200e-01, 1.460e+00, 6.000e-01, 2.700e+00, 1.210e+00,
       5.300e-01, 1.610e+00, 9.100e-01, 6.900e-01, 1.780e+00, 1.530e+00,
       7.650e+00, 2.350e+00, 2.150e+00, 9.000e-01, 1.070e+00, 2.900e+00,
       2.200e+00, 1.450e+00, 1.010e+00, 1.620e+00, 2.430e+00, 2.550e+00,
       9.600e-01, 3.910e+00, 3.330e+00, 1.750e+00, 1.140e+00, 3.600e+00,
       1.880e+00, 1.520e+00, 2.770e+00, 1.120e+00, 1.153e+01, 3.480e+00,
       1.510e+00, 1.440e+00, 3.700e+00, 3.850e+00, 1.800e+00, 1.920e+00,
       2.280e+00, 2.390e+00, 1.910e+00, 1.170e+00, 2.800e+00, 1.500e+00,
       1.480e+00, 1.650e+00, 7.800e-01, 2.400e+00, 2.120e+00, 8.400e-01,
       1.430e+00, 2.500e+00, 1.150e+00, 6.300e+00, 1.420e+00, 1.260e+00,
       2.750e+00, 1.340e+00, 2.020e+00, 2.860e+00, 4.950e+00, 3.620e+00,
       1.820e+00, 2.710e+00, 6.380e+00, 5.320e+00, 1.020e+00, 2.480e+00,
       2.050e+00, 1.960e+00, 1.670e+00, 4.760e+00, 2.250e+00, 1.810e+00,
       5.540e+00, 2.610e+00, 1.380e+00, 1.230e+00, 9.700e-01, 1.940e+00,
       3.430e+00, 2.290e+00, 2.240e+00, 2.300e+00, 1.180e+00, 3.010e+00,
       5.040e+00, 6.700e-01, 2.360e+00, 6.250e+00, 2.170e+00, 3.990e+00,
       3.060e+00, 3.140e+00, 2.490e+00, 8.810e+00, 9.800e-01, 1.470e+00,
       2.690e+00, 1.680e+00, 4.680e+00, 6.240e+00, 2.590e+00, 3.470e+00,
       2.840e+00, 1.390e+00, 3.880e+00, 1.870e+00, 4.070e+00, 3.790e+00,
       1.770e+00, 2.210e+00, 1.970e+00, 3.860e+00, 7.970e+00, 2.450e+00,
       2.960e+00, 3.100e+00, 1.040e+00, 9.640e+00, 3.530e+00, 2.320e+00,
       1.790e+00, 1.730e+00, 2.980e+00, 2.030e+00, 1.740e+00, 3.050e+00,
       3.000e+00, 3.440e+00, 2.830e+00, 1.410e+00, 2.560e+00, 1.830e+00,
       2.140e+00, 1.890e+00, 4.010e+00, 2.640e+00, 4.560e+00, 1.860e+00,
       2.270e+00, 1.490e+00, 3.350e+00, 2.070e+00, 2.260e+00, 2.000e+00,
       6.420e+00, 5.370e+00, 2.630e+00, 2.090e+00, 3.230e+00, 3.270e+00,
       2.870e+00, 2.570e+00, 2.130e+00, 5.960e+00, 2.920e+00, 2.810e+00,
       1.850e+00, 4.320e+00, 8.060e+00, 2.970e+00, 3.400e+00, 2.440e+00,
       2.790e+00, 4.300e+00, 1.200e+00, 2.310e+00, 4.030e+00, 3.260e+00,
       2.470e+00, 1.360e+00, 2.230e+00, 1.280e+00, 4.810e+00, 2.670e+00,
       6.830e+00, 4.180e+00, 3.380e+00, 1.660e+00, 3.680e+00, 5.090e+00,
       5.350e+00, 2.460e+00, 6.700e+00, 3.460e+00, 2.110e+00, 2.370e+00,
       2.820e+00])

In [166]:
# Checking for the unique 'date' values. 
measurements_df["date"].unique()

array(['2010-01-01', '2010-01-02', '2010-01-03', ..., '2017-08-16',
       '2017-08-17', '2014-09-06'], dtype=object)

In [167]:
# Checking for the unique values of 'station' to find NaN values.
measurements_df["station"].unique()

array(['USC00519397', 'USC00513117', 'USC00514830', 'USC00517948',
       'USC00518838', 'USC00519523', 'USC00519281', 'USC00511918',
       'USC00516128'], dtype=object)

In [168]:
# Checking for the unique values of 'tobs' to find NaN values.
measurements_df["tobs"].unique()

array([65, 63, 74, 76, 73, 70, 64, 68, 61, 66, 72, 69, 67, 71, 75, 77, 80,
       78, 79, 82, 87, 62, 58, 60, 85, 84, 83, 81, 59, 56, 57, 54, 86, 53,
       55], dtype=int64)

In [169]:
#R
# Use isnull() to check for the number of NaNs or the Missing Values.
missing_Value_msmt = measurements_df.isnull().values.sum()
print(f"Total NaNs: {missing_Value_msmt}")

Total NaNs: 1447

In [170]:
# R
# Identify incomplete rows or the ones with less data by counting the rows in each column of the Dataframe.
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [171]:
# R
# Replace the missing values with 0 using the fillna() function.
measurements_df = measurements_df.fillna(0)
print(f"Total NaNs Remaining: {measurements_df.isnull().values.sum()}")

Total NaNs Remaining: 0

In [172]:
# Observe the count after the replacement of NaNs is done by 0
measurements_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [173]:
# Find the data type of the 'Measurements' dataframe
measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [174]:
# Preview the cleaned data frame
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [175]:
# Export the cleaned dataframe to csv
measurements_df.to_csv("ProcessedData/pro_hawaii_measurements.csv", index=False)

# Data engineering / cleaning on hawaii_stations.csv

In [176]:
# Read file hawaii_stations.csv# Read  
stations = "Resources/hawaii_stations.csv"
stations_df =  pd.read_csv(stations)
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [177]:
# Use isnull() function to check for NaNs or the Missing Values.
missing_value_stn = stations_df.isnull().values.sum()
print(f"Total NaNs: {missing_value_stn}")

Total NaNs: 0

In [178]:
# Find the data type of the 'stations' dataframe
stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [179]:
# Preview the stations data frame
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [180]:
# Export the cleaned dataframe to csv
stations_df.to_csv("ProcessedData/pro_hawaii_stations.csv", index=False)